// bower:scss
// endbower
@import "compass/css3";
@import "global/variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar {
  border-radius: 0px;
  border: none;
}

.navbar-default {
  background: linear-gradient(to right, $primary-blue 0%, $secondary-blue 100%);
  padding: 10px 0;
  .navbar-nav {
    float: right;
    > li {
      margin: 0px 5px;
      > a,
      > button {
        color: $white;
        line-height: 10px;        
        &:hover,
        &:focus {
          @include border-radius(4px);
          color: $white;
          background: lighten($primary-blue, 10%);
        }
      }
    }
    > .nav-login {
      > a,
      > button {
        @include border-radius(4px);
        border: 1px solid $white;
        background: lighten($secondary-blue, 10%);    
      }
    }
    > .active {
      > a,
      > button,
      > a:focus {
        @include border-radius(4px);
        color: $white;
        background-color: darken($primary-blue, 10%);
        &:hover {
          color: $white;
          background-color: darken($secondary-blue, 10%); //lighten($primary-blue, 10%);
        }
      }
    }
  }
  .navbar-toggle {
    border-color: $white;
    &:hover,
    &:focus {
      background-color: lighten($secondary-blue, 10%);
    }
    .icon-bar {
      background-color: $white;
    }
  }
}

.navbar-nav > li > button {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-brand {
  padding: 5px 15px;
}

.logo {
  height: 40px;
  &:hover {
//    @include opacity(0.5);
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.preloader {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.preloader-background {
  background: white;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.preloader-anchor {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.preloader-modal {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page utility bar */
.utility-bar {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
//  background: lighten($secondary-blue, 50%);
//  border-bottom: 1px solid lighten($primary-blue, 50%);  
  padding: 15px;
  color: #777;
  margin-top: -20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  /*.btn {
    font-size: 21px;
    padding: 14px 24px;
  }*/
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.form-register,
.form-login {
  
  hr {
    display: none;
  }

  .hr {
    box-sizing: border-box;
    margin: 24px 0 24px;
    color: #999;
    position: relative;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 1px #ccc solid;
    text-align: center;
    span.center-align {
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      top: -0.65em;
      padding: 2px 10px;
      margin: 0 auto;
      background-color: white;
      line-height: 1em;
      font-size: 20px
    }
  }
  .form-submit {
    margin: 0 auto;
    width: 160px;
    display: block;
  }  
}

.content-intro {
  text-align: center;
  p {
    font-size: 1.5em;
  }
  ul {
    width: 220px;
    margin: 0 auto;
    text-align: left;
    li {
      list-style-type: disc;
    }
  }
}

/* Buttons */
.btn {
  @include box-shadow(none);
  &:hover,
  &:focus {
    @include box-shadow(none);
    color: $white;
    &.blue {
      background-color: $primary-blue;
    }
    &.red {
      background-color: darken($material-red, 20%);
    }
  }
}

.btn-vertical {
  line-height: 1.2em;
}

/* Tabs */
.tabs .tab a {
  &.active {
    border-bottom: 3px solid $material-blue;
  }
  &.blue-text {
    color: $material-blue;
  }
}

/* Cards  */
.card {
  .card-action {
    button {
      &:hover {
        background: $white;
        color: darken($material-blue, 20%);
      }
      &.blue-text:not(.btn):not(.btn-large):not(.btn-floating) {
        color: $material-blue;
      }
      i {
        vertical-align: top;
      }
      span {
        top:2px;
        display: inline-block;
      }
    }
  }

  .card-image {
    .card-title {
      background: linear-gradient(transparent, #000);
      width: 100%;
      padding-bottom: 30px;
    }
    .card-subtitle {
      color: $white;
      padding: 0px 0px 10px 23px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &.card-add {
    border: 1px dashed #ccc;
    background: #f5f5f5;
    padding-top: 120px;
    box-shadow: none;    
    padding-bottom: 20px;
    min-height: 315px;
    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    button & {
      color: #333;
      &:hover {
        color: #555;
        background: #f3f3f3;
      }
    }
    .glyphicon-plus {
      font-size: 4em;
    }
  }
}

button.add-card {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

.property-type {
  
}
.property-units {

}
.property-tag {
  i {
    vertical-align: middle;
  }
}

/* Forms */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $material-blue;
  box-shadow: 0 1px 0 0 $material-blue;
  &.ng-dirty {
    border-bottom: 1px solid $material-red;
    box-shadow: 0 1px 0 0 $material-red;
  }
  & + label {
    color: $material-blue;
  }
}

.extra-long-label {
  .ng-touched {
    padding-left: 0px;
  }
  .ng-untouched,
  input:placeholder-shown {
    padding-left: 115px;
  }
}
.long-label {
  .ng-not-empty {
    padding-left: 0px; 
  }
  .ng-empty,
  input:placeholder-shown {
    padding-left: 95px;
  }
}
.medium-label {
  .ng-not-empty {
    padding-left: 0px; 
  }
  .ng-empty,
  input:placeholder-shown {
    padding-left: 75px;
  }
}
.small-label {
  .ng-not-empty {
    padding-left: 0px; 
  }
  .ng-empty,
  input:placeholder-shown {
    padding-left: 35px;
  } 
}
input.ng-not-empty {
  padding-left: 0px;
}
input.ng-empty,
input:placeholder-shown {
  padding-left: 55px;
  &:focus,
  &.valid {
    padding-left: 0px;
  }
}

.input-field .prefix {
  &.active.blue-text {
    color: $material-blue;
  }
}

/* Colors */
.original-blue-text {
  color: $original-blue;
}

.original-blue {
  background-color: $original-blue;
}

.primary-blue-text {
  color: $primary-blue;
}

.secondary-blue-text {
  color: $secondary-blue;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0  auto;
  }

  .container-wide {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .container-first {
    margin-top: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
