/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
  Breakpoint Configuration
  docs: https://github.com/Team-Sass/breakpoint/wiki
  ========================================================================== */
/* CSS Transition
  Usage: @include transition(width,0.3s,ease-out);
 */
/* CSS Animation
  Usage: @include animation(changeBgColor 4s ease);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
  Usage: @include font-size(1, large);
*/
/* ==========================================================================
   Reset
   ========================================================================== */
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 6, global/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, global/_reset.scss */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

/* line 15, global/_reset.scss */
header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/* line 11, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 18, main.scss */
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 23, main.scss */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 26, main.scss */
.marketing img {
  max-width: 100%;
}

/* line 31, main.scss */
.preloader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
}

/* line 38, main.scss */
.preloader-background {
  background: white;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

/* line 44, main.scss */
.preloader-anchor {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

/* line 52, main.scss */
.preloader-modal {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 59, main.scss */
.logo {
  height: 40px;
}

/* Custom page header */
/* line 64, main.scss */
.header {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
  /* Make the masthead heading the same height as the navigation */
}
/* line 70, main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page utility bar */
/* line 79, main.scss */
.utility-bar {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  color: #777;
  margin-top: -20px;
}

/* Custom page footer */
/* line 90, main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 96, main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 101, main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  /*.btn {
    font-size: 21px;
    padding: 14px 24px;
  }*/
}

/* Supporting marketing content */
/* line 112, main.scss */
.marketing {
  margin: 40px 0;
}
/* line 115, main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* line 122, main.scss */
.form-register hr,
.form-login hr {
  display: none;
}
/* line 126, main.scss */
.form-register .hr,
.form-login .hr {
  box-sizing: border-box;
  margin: 24px 0 24px;
  color: #999;
  position: relative;
  display: inline-block;
  height: 0;
  width: 100%;
  border-top: 1px #ccc solid;
  text-align: center;
}
/* line 136, main.scss */
.form-register .hr span.center-align,
.form-login .hr span.center-align {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: -0.65em;
  padding: 2px 10px;
  margin: 0 auto;
  background-color: white;
  line-height: 1em;
  font-size: 20px;
}
/* line 148, main.scss */
.form-register .form-submit,
.form-login .form-submit {
  margin: 0 auto;
  width: 160px;
  display: block;
}

/* line 155, main.scss */
.content-intro {
  text-align: center;
}
/* line 157, main.scss */
.content-intro p {
  font-size: 1.5em;
}
/* line 160, main.scss */
.content-intro ul {
  width: 220px;
  margin: 0 auto;
  text-align: left;
}
/* line 164, main.scss */
.content-intro ul li {
  list-style-type: disc;
}

/* line 177, main.scss */
.property-tag i {
  vertical-align: middle;
}

/* line 182, main.scss */
.user .user-photo {
  width: 250px;
}
/* line 184, main.scss */
.user .user-photo > img {
  width: 100%;
}

/* Forms */
/* line 190, main.scss */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}
/* line 205, main.scss */
input:not([type]):focus:not([readonly]).ng-dirty,
input[type=text]:focus:not([readonly]).ng-dirty,
input[type=password]:focus:not([readonly]).ng-dirty,
input[type=email]:focus:not([readonly]).ng-dirty,
input[type=url]:focus:not([readonly]).ng-dirty,
input[type=time]:focus:not([readonly]).ng-dirty,
input[type=date]:focus:not([readonly]).ng-dirty,
input[type=datetime]:focus:not([readonly]).ng-dirty,
input[type=datetime-local]:focus:not([readonly]).ng-dirty,
input[type=tel]:focus:not([readonly]).ng-dirty,
input[type=number]:focus:not([readonly]).ng-dirty,
input[type=search]:focus:not([readonly]).ng-dirty,
textarea.materialize-textarea:focus:not([readonly]).ng-dirty {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
/* line 209, main.scss */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196F3;
}

/* line 215, main.scss */
.extra-long-label .ng-touched {
  padding-left: 0px;
}
/* line 218, main.scss */
.extra-long-label .ng-untouched,
.extra-long-label input:placeholder-shown {
  padding-left: 115px;
}

/* line 224, main.scss */
.long-label .ng-not-empty {
  padding-left: 0px;
}
/* line 227, main.scss */
.long-label .ng-empty,
.long-label input:placeholder-shown {
  padding-left: 95px;
}

/* line 233, main.scss */
.medium-label .ng-not-empty {
  padding-left: 0px;
}
/* line 236, main.scss */
.medium-label .ng-empty,
.medium-label input:placeholder-shown {
  padding-left: 75px;
}

/* line 242, main.scss */
.small-label .ng-not-empty {
  padding-left: 0px;
}
/* line 245, main.scss */
.small-label .ng-empty,
.small-label input:placeholder-shown {
  padding-left: 35px;
}

/* line 250, main.scss */
input.ng-not-empty {
  padding-left: 0px;
}

/* line 253, main.scss */
input.ng-empty,
input:placeholder-shown {
  padding-left: 55px;
}
/* line 256, main.scss */
input.ng-empty:focus, input.ng-empty.valid,
input:placeholder-shown:focus,
input:placeholder-shown.valid {
  padding-left: 0px;
}

/* line 263, main.scss */
.input-field .prefix.active.blue-text {
  color: #2196F3;
}

/* Colors */
/* line 272, main.scss */
.original-blue-text {
  color: #48aafe;
}

/* line 276, main.scss */
.original-blue {
  background-color: #48aafe;
}

/* line 280, main.scss */
.primary-blue-text {
  color: #296ad4;
}

/* line 284, main.scss */
.secondary-blue-text {
  color: #1e89e5;
}

/* line 292, main.scss */
.content {
  margin-top: 70px;
}

/* line 296, main.scss */
.container {
  margin: 0  auto;
}

/* Space out the masthead */
/* line 301, main.scss */
.container-first {
  margin-top: 30px;
}

/* line 305, main.scss */
.float-right {
  float: right;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 311, main.scss */
  .container {
    max-width: 730px;
  }

  /* line 315, main.scss */
  .container-wide {
    max-width: 960px;
  }

  /* line 319, main.scss */
  .container-full {
    max-width: 100%;
    width: 100%;
  }

  /* line 325, main.scss */
  .marquee .marquee-background {
    width: 100%;
  }
  /* line 329, main.scss */
  .marquee .marquee-text {
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 15%;
    width: 480px;
  }
  /* line 337, main.scss */
  .marquee h1 {
    color: #FFF;
  }
  /* line 341, main.scss */
  .marquee .lead {
    color: #f5f5f5;
    text-shadow: 0px 0px 7px #333;
  }

  /* Remove the padding we set earlier */
  /* line 348, main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 355, main.scss */
  .marketing img {
    width: 100%;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 360, main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* line 365, main.scss */
.alert-box {
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 15%;
}

/* line 372, main.scss */
a.additional-items {
  display: block;
  border: 1px solid #c3c3c3;
  margin: 5px 5px;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
}
/* line 379, main.scss */
a.additional-items:hover {
  background: #f3f3f3;
}

/* numbered nav items */
/* line 385, main.scss */
.status-nav {
  /* we will style the span as the circled number */
}
/* line 386, main.scss */
.status-nav a {
  color: #1e89e5;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  /* active buttons blue border*/
}
/* line 393, main.scss */
.status-nav a:hover {
  text-decoration: none;
}
/* line 397, main.scss */
.status-nav a.active span {
  border: 1px solid #296ad4;
  background: #FFF;
  color: #296ad4;
}
/* line 404, main.scss */
.status-nav span {
  background: #1e89e5;
  color: #FFF;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
}

/* line 416, main.scss */
.add-property .address .input-field,
.add-property .confirm,
.add-property .relationship {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
/* line 424, main.scss */
.add-property .confirm h5 {
  color: #555;
}
/* line 427, main.scss */
.add-property .confirm .img .col.l3 {
  margin-bottom: 16px;
}

/* line 433, main.scss */
.property .photos .col.l3 {
  margin-bottom: 16px;
}

/* line 5, components/_accordion.scss */
.collapsible .collapsible-body .row {
  padding: 0px 20px;
}

/* line 13, components/_accordion.scss */
.photos .collapsible-body .row {
  padding-top: 40px;
}

/* line 20, components/_accordion.scss */
.details p {
  padding: 0;
}
/* line 23, components/_accordion.scss */
.details .fact {
  font-size: 40px;
}

/* ==========================================================================
  Card
  ========================================================================== */
/* line 4, components/_card.scss */
.cards-container {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
@media (min-width: 48em) {
  /* line 4, components/_card.scss */
  .cards-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 60em) {
  /* line 4, components/_card.scss */
  .cards-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

/* line 14, components/_card.scss */
.cards-container {
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 16, components/_card.scss */
.cards-container .item {
  display: block;
}
/* line 19, components/_card.scss */
.cards-container .card {
  display: inline-block;
  overflow: visible;
  width: 100%;
}

/* line 28, components/_card.scss */
.card .card-action .row {
  margin-bottom: 0px;
}
/* line 31, components/_card.scss */
.card .card-action span p {
  margin: 0 0 5px;
}
/* line 35, components/_card.scss */
.card .card-action button:hover {
  background: #FFF;
  color: #0960a5;
}
/* line 39, components/_card.scss */
.card .card-action button.blue-text:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #2196F3;
}
/* line 42, components/_card.scss */
.card .card-action button i {
  vertical-align: top;
}
/* line 45, components/_card.scss */
.card .card-action button span {
  top: 2px;
  display: inline-block;
}
/* line 53, components/_card.scss */
.card .card-image .card-title {
  background: linear-gradient(rgba(0, 0, 0, 0), #000000);
  width: 100%;
  padding-bottom: 30px;
}
/* line 58, components/_card.scss */
.card .card-image .card-subtitle {
  color: #FFF;
  padding: 0px 0px 10px 23px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 66, components/_card.scss */
.card.card-add {
  border: 1px dashed #ccc;
  background: #f5f5f5;
  padding-top: 120px;
  width: 100%;
  padding-bottom: 20px;
  min-height: 315px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, components/_card.scss */
.card.card-add:hover {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 77, components/_card.scss */
button .card.card-add {
  color: #333;
}
/* line 79, components/_card.scss */
button .card.card-add:hover {
  color: #555;
  background: #f3f3f3;
}
/* line 84, components/_card.scss */
.card.card-add .glyphicon-plus {
  font-size: 4em;
}

/* line 91, components/_card.scss */
button.btn-add-card {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}
/* line 97, components/_card.scss */
button.btn-add-card:hover {
  background: transparent;
}

/* line 104, components/_card.scss */
.boards .add-card,
.files .add-card {
  height: 262px;
}
/* line 106, components/_card.scss */
.boards .add-card .card-add,
.files .add-card .card-add {
  padding-top: 80px;
  min-height: 262px;
}
/* line 111, components/_card.scss */
.boards .item,
.files .item {
  height: 285px;
}
/* line 114, components/_card.scss */
.boards .card,
.files .card {
  height: 262px;
}
/* line 116, components/_card.scss */
.boards .card:hover,
.files .card:hover {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 119, components/_card.scss */
.boards .card a:hover,
.files .card a:hover {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 122, components/_card.scss */
.boards .card .card-image,
.files .card .card-image {
  height: 262px;
}
/* line 125, components/_card.scss */
.boards .card .card-title,
.files .card .card-title {
  background: #444;
  position: absolute;
  bottom: 0;
}
/* line 130, components/_card.scss */
.boards .card .card-subtitle,
.files .card .card-subtitle {
  width: 100%;
}

/* line 3, components/_breadcrumb.scss */
.breadcrumb-nav {
  background: #4ca1ea;
}
/* line 5, components/_breadcrumb.scss */
.breadcrumb-nav a.breadcrumb {
  padding: 10px 10px 10px 0px;
  background: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 9, components/_breadcrumb.scss */
.breadcrumb-nav a.breadcrumb:first-child {
  padding: 10px;
}
/* line 12, components/_breadcrumb.scss */
.breadcrumb-nav a.breadcrumb:hover {
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: inset 0px 2px 8px 2px #3595e8;
  -webkit-box-shadow: inset 0px 2px 8px 2px #3595e8;
  box-shadow: inset 0px 2px 8px 2px #3595e8;
}
/* line 17, components/_breadcrumb.scss */
.breadcrumb-nav a.breadcrumb img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 3, components/_marquee.scss */
.marquee {
  background: #f5f5f5;
  margin-top: -100px;
}
/* line 6, components/_marquee.scss */
.marquee .marquee-background {
  max-width: 100%;
}

/* line 4, components/_tab.scss */
.tabs .tab a.active {
  border-bottom: 3px solid #2196F3;
}
/* line 7, components/_tab.scss */
.tabs .tab a.blue-text {
  color: #2196F3;
}

/* line 3, components/_navbar.scss */
.navbar {
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0px 10px 0px #333;
}

/* line 9, components/_navbar.scss */
.navbar-default {
  background: linear-gradient(to right, #296ad4 0%, #1e89e5 100%);
  padding: 10px 0;
}
/* line 12, components/_navbar.scss */
.navbar-default .navbar-nav {
  float: right;
}
/* line 14, components/_navbar.scss */
.navbar-default .navbar-nav > li {
  margin: 0px 5px;
}
/* line 16, components/_navbar.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > button {
  color: #FFF;
  line-height: 10px;
}
/* line 20, components/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > button:hover,
.navbar-default .navbar-nav > li > button:focus {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  background: #5287de;
}
/* line 29, components/_navbar.scss */
.navbar-default .navbar-nav > .nav-login > a,
.navbar-default .navbar-nav > .nav-login > button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #FFF;
  background: #4ca1ea;
  text-transform: none;
}
/* line 37, components/_navbar.scss */
.navbar-default .navbar-nav .nav-login > a {
  padding: 14px 15px;
}
/* line 40, components/_navbar.scss */
.navbar-default .navbar-nav .nav-login > button {
  padding: 0px 15px;
  height: 40px;
}
/* line 45, components/_navbar.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > button,
.navbar-default .navbar-nav > .active > a:focus {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  background-color: #2155a9;
}
/* line 51, components/_navbar.scss */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > button:hover,
.navbar-default .navbar-nav > .active > a:focus:hover {
  color: #FFF;
  background-color: #166eba;
}
/* line 58, components/_navbar.scss */
.navbar-default .navbar-toggle {
  border-color: #FFF;
}
/* line 60, components/_navbar.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4ca1ea;
}
/* line 64, components/_navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/* line 71, components/_navbar.scss */
.navbar-nav > li > button {
  position: relative;
  display: block;
  padding: 10px 15px;
}
/* line 76, components/_navbar.scss */
.navbar-nav .dropdown-menu {
  background: #4ca1ea;
}
/* line 79, components/_navbar.scss */
.navbar-nav .dropdown-menu > li > button {
  padding: 3px 20px;
  background: transparent;
  border: none;
  width: 100%;
}
/* line 85, components/_navbar.scss */
.navbar-nav .dropdown-menu > li > a,
.navbar-nav .dropdown-menu > li > button {
  color: #FFF;
  padding: 10px 20px;
}
/* line 89, components/_navbar.scss */
.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .navbar-nav .dropdown-menu > li > a:active,
.navbar-nav .dropdown-menu > li > button:hover,
.navbar-nav .dropdown-menu > li > button:focus,
.navbar-nav .dropdown-menu > li > button:active {
  background: #79b9f0;
  cursor: pointer;
}
/* line 97, components/_navbar.scss */
.navbar-nav .dropdown-menu > .divider {
  margin: 0;
}

/* line 103, components/_navbar.scss */
.navbar-brand {
  padding: 5px 15px;
}

/* line 3, components/_floating-nav.scss */
.side-nav-tab {
  position: fixed;
  left: 0;
  z-index: 1;
  padding: 9px 9px 5px 11px;
  background: #4ca1ea;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 15, components/_floating-nav.scss */
.side-nav a:hover {
  text-decoration: none;
}

/* line 22, components/_floating-nav.scss */
.calendar-view .side-nav a.btn {
  padding: 0px 17px;
}
/* line 24, components/_floating-nav.scss */
.calendar-view .side-nav a.btn > span {
  float: left;
}

/* line 6, components/_calendar.scss */
.calendar-view .fc-agenda-view .property-0,
.calendar-view .fc-basic-view .property-0 {
  background: #1e89e5;
}
/* line 9, components/_calendar.scss */
.calendar-view .fc-agenda-view .property-1,
.calendar-view .fc-basic-view .property-1 {
  background: #f26522;
}
/* line 12, components/_calendar.scss */
.calendar-view .fc-agenda-view .property-2,
.calendar-view .fc-basic-view .property-2 {
  background: #ffce00;
}
/* line 15, components/_calendar.scss */
.calendar-view .fc-agenda-view .property-3,
.calendar-view .fc-basic-view .property-3 {
  background: #F44336;
}
/* line 21, components/_calendar.scss */
.calendar-view .fc-list-view .property-0 .fc-event-dot {
  background-color: #1e89e5;
}
/* line 26, components/_calendar.scss */
.calendar-view .fc-list-view .property-1 .fc-event-dot {
  background-color: #f26522;
}
/* line 31, components/_calendar.scss */
.calendar-view .fc-list-view .property-2 .fc-event-dot {
  background-color: #ffce00;
}
/* line 36, components/_calendar.scss */
.calendar-view .fc-list-view .property-3 .fc-event-dot {
  background-color: #F44336;
}
/* line 42, components/_calendar.scss */
.calendar-view .labels .property-0 {
  color: #1e89e5;
}
/* line 45, components/_calendar.scss */
.calendar-view .labels .property-1 {
  color: #f26522;
}
/* line 48, components/_calendar.scss */
.calendar-view .labels .property-2 {
  color: #ffce00;
}
/* line 51, components/_calendar.scss */
.calendar-view .labels .property-3 {
  color: #F44336;
}

/* ==========================================================================
  Badge
  ========================================================================== */
/* line 4, components/_badge.scss */
.badge {
  z-index: 1;
}
/* line 6, components/_badge.scss */
.badge.badge-left {
  left: 15px;
  display: table;
}
/* line 10, components/_badge.scss */
.badge.badge-bottom {
  bottom: 0px;
}
/* line 13, components/_badge.scss */
.badge.badge-right {
  right: -10px;
}
/* line 16, components/_badge.scss */
.badge.badge-rectangle {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #FFF;
}
/* line 21, components/_badge.scss */
.badge.badge-rectangle .material-icons {
  margin: 8px 0px 10px 0px;
}

/* ==========================================================================
  Button
  ========================================================================== */
/* Buttons */
/* line 5, components/_button.scss */
.btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 7, components/_button.scss */
.btn:hover, .btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;
}
/* line 11, components/_button.scss */
.btn:hover.blue, .btn:focus.blue {
  background-color: #296ad4;
}
/* line 14, components/_button.scss */
.btn:hover.red, .btn:focus.red {
  background-color: #ba160a;
}

/* line 20, components/_button.scss */
.btn-vertical {
  line-height: 1.2em;
}

/* line 24, components/_button.scss */
.btn-floating {
  right: 20px;
  top: -20px;
  z-index: 10;
  position: absolute;
}
