// bower:scss
// endbower
@import "compass/css3";
@import "global/variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  background: linear-gradient(to right, $primary-blue 0%, $secondary-blue 100%);
  padding: 10px 0;
  .navbar-nav {
    float: right;
    > li {
      margin: 0px 5px;
      > a {
        color: $white;
        line-height: 10px;        
        &:hover,
        &:focus {
          color: $white;
          background: lighten($primary-blue, 10%);
        }
      }
    }
    > .sign-in {
      > a {
        @include border-radius(4px);
        border: 1px solid $white;
        background: lighten($secondary-blue, 10%);    
      }
    }
    > .active {
      > a {
        @include border-radius(4px);
        color: $white;
        background-color: transparent; //lighten($primary-blue, 10%);
        &:hover,
        &:focus {
          color: $white;
          background-color: transparent; //lighten($primary-blue, 10%);
        }
      }
    }
  }
  .navbar-toggle {
    border-color: $white;
    &:hover,
    &:focus {
      background-color: lighten($secondary-blue, 10%);
    }
    .icon-bar {
      background-color: $white;
    }
  }
}

.navbar-brand {
  padding: 5px 15px;
}

.logo {
  height: 40px;
  &:hover {
//    @include opacity(0.5);
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0  auto;
  }

  .container-wide {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
