<div class="container container-first container-wide"
  bb-active-menu="Edit My Account"
  bb-active-title="Edit My Account">
  <form class="">
    <div class="row">
      <div class="input-field long-label col s6">
        <input
          id="first_name"
          type="text"
          class="validate"
          ng-model="user.account.user_metadata.given_name">
        <label
          for="first_name"
          data-error="Don't try to make this up."
          data-success="Oh hey!">First Name
        </label>
      </div>
      <div class="input-field long-label col s6">
        <input 
          id="last_name" 
          type="text" 
          class="validate" 
          ng-model="user.account.user_metadata.family_name">
        <label 
          for="last_name"  
          data-error="C'mon buddy!" 
          data-success="New last name, huh?.">Last Name
        </label>
      </div>
    </div>
    <div class="row">  
      <div class="input-field col s12 medium-label">
          <input
            places-auto-complete 
            id="location" 
            class="validate" 
            size=80
            ng-model="user.inputLocation"
            types="['(cities)']"
            component-restrictions="{country:'us'}"
            on-place-changed="user.placeChanged()" />
          <label
            class="active"
            for="location" 
            data-error="Wrong"
            data-success="There you go!">Location
          </label>
          <ng-map
            center="{{user.account.user_metadata.location.formatted}}">
            <marker
              position="{{user.account.user_metadata.location.formatted}}"
              animation="Animation.BOUNCE"
              title="You are here.">
            </marker>
          </ng-map>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button 
          class="btn btn-large wave-effect blue"
          ng-click="user.saveUser(user.account.user_metadata)"
          >Save
        </button>
      </div>
      <div class="col s6">
        <button 
          class="btn btn-large wave-effect red" 
          ui-sref="account()">Cancel
        </button>
    </div>
  </form>
</div>