<div 
  class=""
  bb-active-menu=""
  bb-active-title="">
  <div class="container container-first container-wide user user-{{user.profile.id}}">
    <div class="row">
      <a class="btn blue float-right" ui-sref="accountEdit({uid: user.profile.id})">Edit User</a>
    </div>
    <div class="row" ng-cloak>
      <div class="col s12 m3 l3 user-photo">
          <img class="tbd" ng-src="{{user.profile.picture}}" alt="{{user.profile.nickname}}" title="{{user.profile.nickname}}" />
      </div>
      <div class="col s12 m9 l9">
        <h3>{{user.profile.user_metadata.given_name}} {{user.profile.user_metadata.family_name}}</h3>
        <p ng-show="user.profile.user_metadata.location.formatted"><i class="material-icons">location_on</i>
          {{user.profile.user_metadata.location.formatted}}
        </p>
        <p ng-show="user.profile.created_at">
            <i title="Date Created" class="material-icons">av_timer</i>
          {{ user.profile.created_at | amTimeAgo }}
        </p>
        <!-- {{user.time | amFromUnix | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }} -->
      </div>
    </div>
  </div>
  <div class="container-full">
    <ng-map
      id="map"
      zoom="11"
      center="{{user.profile.user_metadata.location.city}}, {{user.profile.user_metadata.location.state}}"
      geo-fallback-center="current-location">
      <marker
        position="{{user.profile.user_metadata.location.city}}, {{user.profile.user_metadata.location.state}}"
        animation="Animation.BOUNCE"
        title="You are here."
        centered="true">
      </marker>    
    </ng-map>
  </div>
</div>