<div 
  class=""
  bb-active-menu=""
  bb-active-title="">
  <div class="container container-first container-wide user user-{{user.account.uid}}">
    <div class="row">
      <a class="btn blue float-right" ui-sref="accountEdit({uid: user.account.uid})">Edit User</a>
    </div>
    <div class="row" ng-cloak>
      <div class="col s12 m3 l3 user-photo">
          <img class="tbd" ng-src="{{user.account.picture.url}}" alt="{{user.account.fullName}}" title="{{user.account.fullName}}" />
      </div>
      <div class="col s12 m9 l9">
        <h3>{{user.account.fullName}}</h3>
        <p ng-show="user.location.city && user.location.state"><i class="material-icons">location_on</i>
          {{user.location.city}}, {{user.location.state}}
        </p>
        <p ng-show="user.account.created">
            <i title="Date Created" class="material-icons">av_timer</i>
          {{ user.account.created | amFromUnix | amTimeAgo }}
        </p>
        <!-- {{user.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }} -->
      </div>
    </div>
  </div>
  <div class="container-full">
    <ng-map
      id="map"
      zoom="11"
      center="{{user.location.city}}, {{user.location.state}}"
      geo-fallback-center="current-location">
      <marker
        position="{{user.location.city}}, {{user.location.state}}"
        animation="Animation.BOUNCE"
        title="You are here."
        centered="true">
      </marker>    
    </ng-map>
  </div>
</div>