// Accordion
// -------------------------
.collapsible {
  .collapsible-body {
    .row {
      padding: 0px 20px;
    }
  }
}

.photos {
  .collapsible-body {
    .row {
      padding-top: 40px;
    }
  }
}

.details {
  p {
    padding: 0;
  }
  .fact {
    font-size: 40px;
  }
}