// Calendar
// -------------------------
.calendar-view {
  .fc-agenda-view,
  .fc-basic-view {
    .property-0 {
      background: $secondary-blue;
    }
    .property-1 {
      background: $burnt-orange;
    }
    .property-2 {
      background: $sunset-yellow;
    }
    .property-3 {
      background: $material-red;      
    }
  }
  .fc-list-view {
    .property-0 {
      .fc-event-dot {
        background-color: $secondary-blue;
      }
    }
    .property-1 {
      .fc-event-dot {
        background-color: $burnt-orange;
      }
    }
    .property-2 {
      .fc-event-dot {
        background-color: $sunset-yellow;
      }
    }
    .property-3 {
      .fc-event-dot {      
        background-color: $material-red;
      }
    }
  }
  .labels {
    .property-0 {
      color: $secondary-blue;
    }
    .property-1 {
      color: $burnt-orange;
    }
    .property-2 {
      color: $sunset-yellow;
    }
    .property-3 {
      color: $material-red;      
    }
  }
}