// Calendar
// -------------------------
.calendar-view {
  .calendar {
    .property-0 {
      background: blue;
    }
    .property-1 {
      background: yellow;
    }
  }
  .labels {
    .property-0 {
      color: blue;
    }
    .property-1 {
      color: yellow;
    }
  }
}