/* ==========================================================================
  Card
  ========================================================================== */
.cards-container {
  @include column-count(1); 
  @include breakpoint($bp--large-up) {
    @include column-count(2);
  }
  @include breakpoint($bp--xlarge-up) {
    @include column-count(3);
  }
}

.cards-container {
  @include break-inside(avoid);
  .item {
    display: block;
  }
  .card {
    display: inline-block;
    overflow: visible;
    width: 100%;
  }
}

.card {
  .card-action {
    .row {
      margin-bottom: 0px;
    }
    span p {
      margin: 0 0 5px;
    }
    button {
      &:hover {
        background: $white;
        color: darken($material-blue, 20%);
      }
      &.blue-text:not(.btn):not(.btn-large):not(.btn-floating) {
        color: $material-blue;
      }
      i {
        vertical-align: top;
      }
      span {
        top:2px;
        display: inline-block;
      }
    }
  }

  .card-image {
    .card-title {
      background: linear-gradient(transparent, #000);
      width: 100%;
      padding-bottom: 30px;
    }
    .card-subtitle {
      color: $white;
      padding: 0px 0px 10px 23px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &.card-add {
    border: 1px dashed #ccc;
    background: #f5f5f5;
    padding-top: 120px;
    width: 100%;   
    padding-bottom: 20px;
    min-height: 315px;
    @include box-shadow(none); 
    &:hover {
      @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
    }
    button & {
      color: #333;
      &:hover {
        color: #555;
        background: #f3f3f3;
      }
    }
    .glyphicon-plus {
      font-size: 4em;
    }
  }
}

// Add Card Button
button.btn-add-card {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

.boards,
.files {
  .add-card {
    height: 262px;
    .card-add {
      padding-top: 80px;
      min-height: 262px;
    }
  }
  .item {
    height: 285px;
  }
  .card {
    height: 262px;
    &:hover {
      @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
    }
    & a:hover {
      @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));  
    }
    .card-image {
      height: 262px;
    }
    .card-title {
      background: #444;
      position: absolute;
      bottom: 0;
    }
    .card-subtitle {
      width: 100%;
    }
  }
}