// Floating Nav
// -------------------------
.button-collapse {
  position: fixed;
  left: 0;
  z-index: 1;
  padding: 9px 9px 5px 11px;
  @include border-top-right-radius(5px);
  @include border-bottom-right-radius(5px);
}