<div class="container-full">
  <breadcrumbs property="property.details"></breadcrumbs>
  <div 
    class="container-full grey lighten-3"
    style="margin-top: -18px;">
    <div class="container container-wide">
      <div class="row">
        <div class="col s12">
          <div class="row">
          </div>
          <div class="row">
            <div class="col s12 l6">
              <h4>{{property.details.location.address}}</h4>
              <h5>{{property.details.location.city}}, {{property.details.location.state}} {{property.detail.location.zip}}</h5>
            </div>
            <div 
              class="col s12 l2" 
              ng-show="property.details.price">
              <label>Purchase Price</label>
              <p>{{property.details.price | currency:"$":0}}</p>
            </div>
            <div 
              class="col s12 l2 center"
              ng-show="property.details.bedrooms">
              <h5 class="bedrooms fact">
                {{property.details.bedrooms}}
              </h5>
              <p>
                <i
                  aria-hidden="true"
                  title="Bedrooms"
                  class="material-icons">hotel</i>
              </p>
              <p>
                <label>Bedrooms</label>
              </p>
            </div>
            <div
              class="col s12 l2 center"
              ng-show="property.details.bathrooms">
              <h5 class="bathrooms fact">
                {{property.details.bathrooms | number}}
              </h5>
              <p>
                <i
                  aria-hidden="true"
                  title="Bathrooms" 
                  class="material-icons">opacity</i>
              </p>
              <p>
                <label>Bathrooms</label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container container-first container-wide property" 
  bb-active-menu="" 
  bb-active-title="">
  <div class="row">
    <a class="btn blue float-right"
      ui-sref="propertyEditForm({pid: property.details._id})">Edit Property</a>
  </div>
  <div class="row">
    <div class="col s12">
      <side-nav property="property.details"></side-nav>
    </div>
  </div>
  <div class="row" ng-cloak>
    <div class="col s12">
      <img
        ng-repeat="image in property.details.images" 
        materialboxed
        ng-cloak
        ng-class="{l6:$first}"
        class="col s12 m6 l3 materialboxed responsive-img"
        width="400"
        ng-src="{{image}}"
        data-caption="Photo #{{$index+1}} | {{property.details.title}}"
        alt="Photo #{{$index+1}} | {{property.details.title}}"
        title="Photo #{{$index+1}} | {{property.details.title}}"/>
    </div>
  </div>
  <div class="row" ng-cloak>
    <div class="col s12">
      <ul 
        class="collapsible"
        data-collapsible="expandable">
        <li 
          class="details"
          name="details"
          id="details">
          <div class="collapsible-header  grey lighten-3"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   <strong>Details</strong>
          </div>
          <div class="collapsible-body">
            <div class="row">
              <p>{{property.details.description}}</p>
              <div 
                class="col s12 l4" 
                ng-show="property.details.lotSizeSqFt">
                <label>Lot Size (Sq. Ft.)</label>
                <p>{{property.details.lotSizeSqFt | number}}</p>
              </div>
              <div 
                class="col s12 l4 center"
                ng-show="property.details.zestimate.amount">
                <label>Zestimate</label>
                <p class="zestimate fact">{{property.details.zestimate.amount | currency:"$":0}}</p>
              </div>
              <div
                class="col s12 l4 center"
                ng-show="property.details.yearBuilt">
                <label>Year Built</label>
                <p class="year-built fact">{{property.details.yearBuilt | number}}</p>
              </div>
            </div>
          </div>
        </li>
        <li 
          class="team"
          name="team"
          id="team">
          <div class="collapsible-header grey lighten-3">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>   <strong>Team</strong>
          </div>
          <div class="collapsible-body">
            <div class="row">
            </div>
          </div>
        </li>
        <li 
          class="boards"
          name="boards"
          id="boards">
          <div class="collapsible-header grey lighten-3">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>   <strong>Boards</strong>
          </div>
          <div class="collapsible-body">
            <div class="row">
              <add-board-card></add-board-card>
              <board-card
                ng-repeat="board in property.boards"
                board="board"
                property="property.details"
                class="col l4 m6 s12 item">
              </board-card>
            </div>
          </div>
        </li>
        <li 
          class="events"
          name="events"
          id="events">
          <div 
            class="collapsible-header grey lighten-3"
            ng-click="property.renderCalendar('propertyCalendar');">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>   <strong>Events</strong><i class="material-icons right more">more_vert</i>
          </div>
          <div class="collapsible-body">
            <div class="row">
            </div>
            <div class="row">
              <div
                ui-calendar="property.uiConfig.calendar"
                class="calendar"
                ng-if="property.eventSources"
                calendar="propertyCalendar"
                ng-model="property.eventSources"></div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Modal Trigger -->
      <a
        class="waves-effect waves-light btn blue"
        ng-href="#modal1"
        modal>Add Event</a>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-full">
  <ng-map
    ng-cloak
    id="map"
    zoom="14"
    scrollwheel="false"
    center="{{property.details.location.formatted}}"
    geo-fallback-center="current-location">
    <marker
      position="{{property.details.location.formatted}}"
      animation="Animation.BOUNCE"
      title="{{property.details.location.formatted}}"
      centered="true">
    </marker>    
  </ng-map>
</div>