<!--StartEditTemplate-->
<div 
  class="container edit-property add-modal"
  bb-active-menu=""
  bb-active-title="">
  <div class="row">
    <h3>Edit Property {{property.details.title}}</h3>
  </div>
  <form class="">
    <!--<div class="row">  
      <div class="input-field col s12 medium-label">
        <input 
          places-auto-complete
          id="location"
          class="validate"
          size="80"
          ng-model="property.details.location.formatted"
          placeholder="555 S Main St"            
          component-restrictions="{country:'us'}"
          on-place-changed="property.placeChanged()" />
      </div>
    </div>-->
    <div class="row">
      <div class="input-field col s4">
        <select
          material-select
          name="propertyType" 
          ng-model="property.details.useCode">
          <option value="" disabled>Choose your option</option>
          <option 
            ng-repeat="type in property.useCodes" 
            value="{{type.key}}">{{type.value}}</option>
        </select>
        <label>Property Type</label>
      </div>
      <!--
      <div class="input-field col s4">
        <input 
          input-date
          id="acquisitionDate"
          type="text" 
          class="datepicker"
          ng-model="property.details.date"
          >
        <label for="acquisitionDate">Date Acquired</label>
      </div>
    </div>-->
    <div class="row">
      <div class="input-field col l6 m6 s12 large-label">
          <input 
            placeholder="$100,000" 
            type="text" 
            ng-model="property.details.price" 
            format="currency"/>
          <label for="purchasePrice">Purchase Price</label>
      </div>
    </div>
    <div class="row">
    <!--
      <div 
        class="input-field col s12"
        ng-repeat="image in property.details.images"> 
        <div class="file-field input-field">
          <p><img ng-src="{{image}}"/></p>
          <div class="btn blue">
            <span>Photo</span>
            <input 
              type="file" 
              placeholder="img/XXXX.jpg" 
              ng-model="property.details.images">
          </div>
          <div class="file-path-wrapper">
            <input 
              class="file-path validate" 
              ng-value="image" type="text">
          </div>
        </div>
      </div>-->
      <div class="input-field col s12">
          <textarea 
            id="teaser" 
            class="materialize-textarea" 
            ng-model="property.details.description" length="120">
          </textarea>
          <label for="teaser">Teaser</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button 
          class="btn btn-large wave-effect blue"
          ng-click="property.saveProperty()">
          Save
        </button>
      </div>
      <div class="col s6">
        <a 
          class="btn btn-large wave-effect red" 
          ui-sref="property({pid:property.details._id})">
          Cancel
        </a>
    </div>
  </form>
</div>