<div
  class="container container-first container-wide property" 
  bb-active-menu="" 
  bb-active-title="">
  <div class="row">
    <a class="btn blue float-right"
      ui-sref="propertyEditForm({id: property.details._id})">Edit Property</a>
  </div>
  <div class="row" ng-cloak>
    <div class="col s12">
      <div class="photos" ng-repeat="image in property.details.images">
        <img class="tbd" ng-src="../sites/default/files/{{image.uri.replace('public://','')}}" alt="{{image.alt}}" title="{{image.title}}" width="258" height="189" />
      </div>
      <h1>{{property.details.location.address}}</h1>
      <h2>{{property.details.location.city}}, {{property.details.location.state}} {{property.detail.location.zip}}</h2>
      <label>Purchase Price</label><p>{{property.details.purchasePrice | currency:"$":0}}</p>
    </div>
  </div>
  <div class="row">
  </div>
</div>
<div class="container-full">
  <ng-map
    id="property-map"
    zoom="14"
    center="{{property.details.location.formatted}}"
    geo-fallback-center="current-location">
    <marker
      position="{{property.details.location.formatted}}"
      animation="Animation.BOUNCE"
      title="{{property.details.location.formatted}}"
      centered="true">
    </marker>    
  </ng-map>
</div>