<a
  href="#!"
  data-activates="slide-out"
  class="side-nav-tab button-collapse">
  <i class="material-icons white-text">menu</i>
</a>
<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <a ui-sref="property({pid:$ctrl.property._id, '#': 'overview'})">
        <img class="background" ng-src="{{$ctrl.property.images[0]}}">
        <div class="circle"></div>
        <span class="white-text name">{{$ctrl.property.location.address}}</span>
        <span class="white-text email">{{$ctrl.property.location.city}}, {{$ctrl.property.location.state}} {{$ctrl.property.location.zip}}</span>
      </a>
    </div>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property, '#': 'overview'})">Overview</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a 
      ui-sref="property({pid:$ctrl.property._id, '#': 'details'})">
      <i
        aria-hidden="true" 
        class="material-icons">list</i> Details</a>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property._id, '#': 'photos'})">
      <i
        aria-hidden="true" 
        class="material-icons">image</i> Photos</a>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property._id, '#': 'team'})"><i
        aria-hidden="true" 
        class="material-icons">contact_phone</i> Team
    </a>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property._id, '#': 'boards'})">
      <i
        aria-hidden="true" 
        class="material-icons">perm_media</i> Boards</a>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property._id, '#': 'map'})">
      <i
        aria-hidden="true" 
        class="material-icons">location_on</i> Map</a>
  </li>
  <li>
    <a ui-sref="property({pid:$ctrl.property._id, '#': 'calendar'})">
      <i
        aria-hidden="true" 
        class="material-icons">today</i></span> Calendar</a>
  </li>
</ul>