<!--Start Add.Property.Relationship Template-->
<div class="relationship">
  <h5 class="center">Relationship</h5>
  <div class="row">
    <div class="col s6"><!--ng-disabled="!property.place" -->
      <button 
        class="btn btn-large wave-effect blue" 
        ng-click="property.addProperty()">
        Add
      </button>
    </div>
    <div class="col s6">
      <button class="btn btn-large wave-effect red" ng-click="property.cancelAddProperty()">
        Cancel
      </button>
    </div>
  </div>
</div>