<!--Start Add.Property.Confirm Template-->
<div class="confirm">
  <h5 class="center">Is this it?</h5>
  <div class="row">
    <div class="col 12" ng-show="property.info.images">
      <div class="img">
        <img
          ng-class="{l6:$first}"
          class="col s12 m6 l3 "
          ng-src="{{image}}"
          alt="{{property.info.location.formatted}} Photo #:{{$index}}"
          title="{{property.info.location.formatted}} Photo #:{{$index}}"
          ng-repeat="image in property.info.images"
          />
      </div>
    </div>
    <div class="col s12" ng-show="property.info">
      <h3>{{property.info.location.address}}</h3>
      <h5>{{property.info.location.city}}, {{property.info.location.state}} {{property.info.location.zip}}</h5>
      <div class="details">
        <h6 class="blue-text">{{property.info.price | currency:"$":0}}</h6>
        <label>Last Sold Date</label>
        <p>{{property.info.lastSoldDate}}</p>
        <label>Sq. Ft.</label>
        <p>{{property.info.finishedSqFt | number}}</p>
        <p>
          <strong>Bedrooms:</strong> {{property.info.bedrooms}}
        </p>
        <p>
          <strong>Bathrooms:</strong> {{property.info.bathrooms}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <button 
        ng-disabled="!property.info"
        class="btn btn-large wave-effect blue" 
        ng-click="property.addProperty()">
        Add
      </button>
    </div>
    <div class="col s6">
      <button class="btn btn-large wave-effect red" ng-click="property.cancelAddProperty()">
        Cancel
      </button>
    </div>
  </div>
</div>