<!--Start Add.Property.Confirm Template-->
<div class="confirm">
  <h5 class="center">Is this it?</h5>
  <div class="row">
    <div class="col 12" ng-show="property.details">
      <div class="img">  
        <img
          ng-show="property.details.images.count > 1"
          ng-class="{s6:$first}"
          class="col s3"
          ng-src="{{url}}"
          alt="{{property.result.address.street}} {{property.result.address.city}}, {{property.result.address.state}} {{property.result.address.zipcode}}"
          title="{{property.result.address.street}} {{property.result.address.city}}, {{property.result.address.state}} {{property.result.address.zipcode}}"
          ng-repeat="url in property.details.images.image.url"
          />
        <img
          ng-show="property.details.images.count == 1"
          class="col s12 center"
          ng-src="{{property.details.images.image.url}}"
          alt="{{property.result.address.street}} {{property.result.address.city}}, {{property.result.address.state}} {{property.result.address.zipcode}}"
          title="{{property.result.address.street}} {{property.result.address.city}}, {{property.result.address.state}} {{property.result.address.zipcode}}"
          />
      </div>
    </div>
    <div class="col s12" ng-show="property.details">
      <h3>{{property.details.address.street}}</h3>
      <h5>{{property.details.address.city}}, {{property.details.address.state}} {{property.details.address.zipcode}}</h5>
      <div class="details">
        <h6 class="blue-text">{{property.details.price.number | currency:"$":0}}</h6>
        <label>Last Sold Date</label>
        <p>{{property.result.lastSoldDate}}</p>
        <label>Sq. Ft.</label>
        <p>{{property.result.finishedSqFt | number}}</p>
        <p>
          <strong>Bedrooms:</strong> {{property.result.bedrooms}}
        </p>
        <p>
          <strong>Bathrooms:</strong> {{property.result.bathrooms}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <button 
        ng-disabled="!property.details"
        class="btn btn-large wave-effect blue" 
        ng-click="property.setRelationship()">
        Add
      </button>
    </div>
    <div class="col s6">
      <button class="btn btn-large wave-effect red" ng-click="property.cancelAddProperty()">
        Cancel
      </button>
    </div>
  </div>
</div>