<!doctype html>
<html ng-app="buildboardApp">
  <head>
    <meta charset="utf-8">
    <title>Buildboard | Investment Collaboration Platform</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-drupal/src/angular-drupal.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!--Import Google Places-->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <!--Import Google Icon Font -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-controller="AdminCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Facebook -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1761433604092838',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Preloaders -->
    <div class="preloader" ng-show="isLoading()">
      <div class="preloader-anchor">
        <div class="preloader-modal">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader-background">
      </div>
    </div>
    <!-- Content -->
    <header class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container container-wide">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/app/#/"><img class="logo" src="images/logo-white-300x43.png" alt="BuildBoard Logo" title="Build Board Logo"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <!-- Anonymous Menu-->  
            <ul class="nav navbar-nav" ng-hide="isLoggedIn()">
              <li ng-class="{active: isActive('Features')}">
                <a href="#/features">Features</a>
              </li>
              <li ng-class="{active: isActive('Benefits')}">
                <a ng-href="#/benefits">Benefits</a>
              </li>
              <li ng-class="{active: isActive('How It Works')}">
                <a ng-href="#/how-it-works">How It Works</a>
              </li>
              <li class="nav-login">
                <a ng-href="#/user/login">Sign In</a>
              </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="isLoggedIn()">
              <!-- Authenticated Menu -->
              <li>
                <a ng-href="#/portfolio">Portfolio</a>
              </li>
              <div class="btn-group nav-login" uib-dropdown keyboard-nav is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"><img ng-show="globals.currentUser.picture.url" src="{{globals.currentUser.picture.url}}" width="16"/> {{globals.currentUser.name.given}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="#/user/{{globals.currentUser.uid}}">My Profile</a></li>
                  <li role="menuitem"><a href="#/user/{{globals.currentUser.uid}}/edit">Edit Account</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a ng-click="logout()">Log Out</a></li>
                </ul>
              </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="content" ng-cloak>
      <div class="container container-wide" ng-class="{'alert-box': isActive('Home')}" ng-show="alerts != ''">
        <div class="row">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.dt}}" close="closeAlert($index)">{{alert.message}}</uib-alert>
        </div>
      </div>
      <div class="container container-wide" ng-show="!isActive('')">
        <div class="row">
          <h3>{{getTitle()}}</h3>
        </div>
      </div>
      <div ng-view=""></div>
    </section>

    <footer class="footer grey lighten-4">
      <div class="container container-wide">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> by drēmy Investments, LLC</p>
        <div class="row">
          <div class="col s4">
            <p></p>
          </div>
          <ul class="footer-primary-menu col s4">
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/contact">Contact</a></li>        
          </ul>
          <ul class="footer-secondary-menu col s4">
            <li><a ng-href="#/privacy-policy">Privacy Policy</a></li>
            <li><a ng-href="#/terms-of-use">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <!-- Google Analytics--> 
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-74645472-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- App -->
    <script src="scripts/app.js"></script>
    <!-- Modules & Services -->
    <script src="scripts/modules/drupalNg.js"></script>
    <!--<script src="scripts/modules/services.js"></script>-->
    <!-- App - Controllers - Configuration -->
    <script src="scripts/controllers/admin.js"></script>
    <!-- App - Controllers -->
    <script src="scripts/controllers/portfolio.js"></script>
    <script src="scripts/controllers/activity.js"></script>
    <script src="scripts/controllers/property.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/features.js"></script>
    <script src="scripts/controllers/benefits.js"></script>
    <script src="scripts/controllers/howWorks.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- User - Controllers -->
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <!-- endbuild -->
</body>
</html>
