<!doctype html>
<html ng-app="buildboardApp">
  <head>
    <meta charset="utf-8">
    <title>Buildboard | Investment Collaboration Platform</title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!--External Libraries-->
    <!--Import Google Icon Font -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Google Maps Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=placeses,places&key=AIzaSyD3fFcIkaR45zB5_H296gkHJ__RwX_zrBo"></script>
    <!--end Custom libraries -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="bower_components/filepicker-js/filepicker.min.js"></script>
    <script src="bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
    <script src="bower_components/auth0-lock/build/auth0-lock.js"></script>
    <script src="bower_components/jquery.xml2json/src/jquery.xml2json.js"></script>
    <script src="bower_components/auth0.js/build/auth0.js"></script>
    <script src="bower_components/auth0-angular/build/auth0-angular.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- App -->
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/config.js"></script>

    <!-- Viewport Settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body ng-controller="AdminCtrl as admin">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Facebook 
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1761433604092838',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>-->
    <!-- Preloaders -->
    <div 
      class="preloader"
      ng-controller="preloaderCtrl as preloader"
      ng-show="preloader.isLoading()">
      <div class="preloader-anchor">
        <div class="preloader-modal">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader-background">
      </div>
    </div>
    <!-- Content -->
    <header class="header" ng-controller="authCtrl as check">
      <div class="navbar navbar-default" role="navigation">
        <div class="container container-wide">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="home"><img class="logo" src="images/logo-white-300x43.png" alt="BuildBoard Logo" title="Build Board Logo"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <!-- Anonymous Menu-->  
            <ul class="nav navbar-nav" ng-hide="check.auth.isAuthenticated">
              <li ng-class="{active: admin.isActive('Features')}">
                <a ui-sref="features" ui-sref-active="active">Features</a>
              </li>
              <li ng-class="{active: admin.isActive('Benefits')}">
                <a ui-sref="benefits" ui-sref-active="active">Benefits</a>
              </li>
              <li ng-class="{active: admin.isActive('How It Works')}">
                <a ui-sref="howItWorks" ui-sref-active="active">How It Works</a>
              </li>
              <li class="nav-login">
                <a href="#" ng-click="check.auth.signin()">Sign In</a>
              </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="check.auth.isAuthenticated">
              <!-- Authenticated Menu -->
              <li>
                <a ui-sref="add.item" ui-sref-active="active">Add</a>
              </li>
              <li>
                <a ui-sref="portfolio" ui-sref-active="active">Portfolio</a>
              </li>
              <div class="btn-group nav-login" uib-dropdown keyboard-nav is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  <img ng-show="check.profile.picture" ng-src="{{check.profile.picture}}" width="16"/> {{check.profile.user_metadata.given_name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem">
                    <a ui-sref="account({uid: check.user.current.uid})"
                      ui-sref-active="active">My Profile</a>
                  </li>
                  <li role="menuitem">
                    <a ui-sref="accountEdit({uid: check.user.current.uid})"
                      ui-sref-active="active">Edit Account</a>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <a ng-click="check.logOut()">Log Out</a>
                  </li>
                </ul>
              </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="content" ng-cloak>
      <div ng-controller="AlertingCtrl as alerting" class="container container-wide" ng-class="{'alert-box': admin.isActive('Home')}" ng-show="alerting.alerts != ''">
        <div class="row">
          <uib-alert 
            ng-repeat="alert in alerting.alerts" 
            type="{{alert.type}}" 
            dismiss-on-timeout="{{alert.dt}}" 
            close="alerting.closeAlert($index)">{{alert.message}}</uib-alert>
        </div>
      </div>
      <div class="container container-wide" ng-show="!admin.isActive('')">
        <div class="row">
          <h3>{{getTitle()}}</h3>
        </div>
      </div>
      <div ui-view=""></div>
    </section>

    <footer class="footer grey lighten-4">
      <div class="container container-wide">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> by drēmy Investments, LLC</p>
        <div class="row">
          <div class="col s4">
            <p></p>
          </div>
          <ul class="footer-primary-menu col s4">
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/contact">Contact</a></li>        
          </ul>
          <ul class="footer-secondary-menu col s4">
            <li><a ng-href="#/privacy-policy">Privacy Policy</a></li>
            <li><a ng-href="#/terms-of-use">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <!-- Google Analytics 
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-74645472-1');
       ga('send', 'pageview');
    </script>-->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- Modules & Services -->
    <script src="scripts/modules/zillow.js"></script>
    <!-- NOT READY - <script src="scripts/modules/message.js"></script> -->
    <!-- App - Controllers - Configuration -->
    <script src="scripts/components/currentSpot.js"></script>
    <script src="scripts/components/alert.js"></script>
    <script src="scripts/components/preloader.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <!-- User - Component -->
    <script src="scripts/components/user/user.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/user/user.auth.js"></script>
    <script src="scripts/components/user/user.edit.js"></script>
    <script src="scripts/components/user/user.register.js"></script>
    <script src="scripts/components/user/user.login.js"></script>
    <!-- Add - Component -->
    <script src="scripts/components/add/add.item.js"></script>
    <script src="scripts/components/add/add.property.js"></script>
    <!-- App - Controllers -->
    <script src="scripts/controllers/activity.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/features.js"></script>
    <script src="scripts/controllers/benefits.js"></script>
    <script src="scripts/controllers/howWorks.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- Property - Components -->
    <script src="scripts/components/property/property.js"></script>
    <script src="scripts/components/property/property.service.js"></script>
    <script src="scripts/components/property/property.edit.js"></script>
    <script src="scripts/components/property/property.delete.js"></script>
    <!-- Proposal - Controllers -->
    <script src="scripts/components/portfolio/portfolio.js"></script>
    <script src="scripts/controllers/proposal.js"></script>
    <!-- endbuild -->
</body>
</html>
