//
$logo-gray: #354043;
$gray: #555;
$white: #FFF;

// Blues
$primary-blue: #296ad4;
$secondary-blue: #1e89e5;
$original-blue: #48aafe;
$material-blue: #2196F3;
$material-red: #F44336;

// Oranges
$burnt-orange: #f26522;

// Yellows
$sunset-yellow: #ffce00;