<div class="container container-wide calendar-view">
  <div class="row">
    <!-- Modal Structure -->
    <div id="demoModal" class="modal">
        <div class="modal-content">
            <h4>Modal header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-blue btn-flat">Agree</a>
        </div>
    </div>
  </div>
    <side-nav-cal relationships="calendars.relationships"></side-nav-cal>
  <div class="row">
    <side-nav-cal relationships="calendars.relationships"></side-nav-cal>
  </div>
  <div class="row">
    <div class="calendars">
      <div
        ui-calendar="calendars.uiConfig.calendar"
        class="calendar"
        ng-if="calendars.eventSources"
        calendar="masterCalendar"
        ng-model="calendars.eventSources"></div>
    </div>
  </div>
</div>