<div 
  class="portfolio" 
  bb-active-menu="Portfolio" 
  bb-active-title="Portfolio">
  <div class="utility-bar">
    <div class="container container-wide">
      <div class="row">
        <div class="input-field col s12 m8 l8">
            <i class="material-icons prefix blue-text">search</i>
            <input
              type="text" 
              ng-model="searchKey"/>
            <label for="propertySearch">Search</label>
        </div>
        <div class="col s12 m1 l1">
          <span>.</span>
        </div>
        <div class="col s12 m3 l3">
          <button 
            class ="btn btn-large wave-effect blue" 
            ng-click="refreshPortfolio()">Refresh</button>
          <img 
            ng-show="isLoading()" 
            src ="images/progressring.gif" 
            alt="Loading" 
            title="Loading"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-wide container-first">      
    <div class="row">
      <div class="col s12">
        <div class="row center-align">
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{properties.length}}</h2>
            <p><strong>Properties</strong></p>
          </div>
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{propertiesUnits}}</h2>
            <p><strong>Units</strong></p>
          </div>
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{propertiesCosts | currency:"$":0}}</h2>
            <p><strong>Cost</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col l4 m6 s12">
            <button
              class="add-card" 
              ui-sref="add.property.address">
              <div class="card card-add center-align">
                <span class="glyphicon glyphicon-plus"></span>
                <div class="card-content">
                  <p>Add Property</p>
                </div>
              </div>
            </button>
          </div>
          <div class="col l4 m6 s12" ng-repeat="property in properties | filter:searchKey">
            <div class="card">
              <a ui-sref="property({id: property._id})">
                <div class="card-image">
                  <img 
                    ng-src="{{property.images[0]}}"
                    width="258"
                    height="189">
                    <p>{{image}}</p>
                  <span class="card-title">{{property.location.address}}</span>
                  <span class="card-subtitle">{{property.location.city}}, {{property.location.state}} {{property.location.zip}}</span>
                </div>
              </a>
              <div class="card-content">
                <p class="property-type" ng-show="property.type"><label>Type:</label> {{property.type}}</p>
                <p class="property-tag" ng-show="property.tags"><i class="material-icons">label</i><label>Tags</label><span ng-repeat="tag in property.tags == true"> {{tag}}</span></p>
                <p ng-show="property.price">{{property.price | currency:"$":0}}
                <p ng-show="property.teaser">{{property.teaser}}</p>
                <p>Sq. Ft. {{property.finishedSqFt | number}}</p> 
                <p>Bedrooms: {{property.bedrooms}}</p>
                <p>Bathrooms: {{property.bathrooms}}</p>
              </div>
              <div class="card-action">
                <button 
                  class="btn blue-text white"
                  ui-sref="propertyEditForm({id: property._id})">
                  <i class="material-icons">mode_edit</i>
                  <span>Edit</span>
                </button>
                <button 
                  class="btn blue-text white"
                  ui-sref="propertyDeleteForm({id: property._id})">
                  <i class="material-icons">delete</i>
                  <span>Remove</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-full">
    <ng-map
      id="portfolio-map"
      scrollwheel="false"
      zoom-to-include-markers="auto"
      geo-fallback-center="current-location">
      <marker ng-repeat="property in properties | filter:searchKey"
        position="{{property.location.formatted}}"
        title="{{property.title}}"
        centered="true">
      </marker> 
    </ng-map>
  </div> 
</div>
