<div class="container-full">         
  <breadcrumbs property="boards.property"></breadcrumbs>
</div>  
<div class="container container-wide">   
  <div class="row">
    <div class="col s12">
      <side-nav property="boards.property"></side-nav>
    </div>
    <div class="col s12">
      <h1>Boards</h1>
    </div>
    <div class="boards">
      <div class="col l4 m6 s12 item">
        <button
          class="add-card" 
          ui-sref="add.board">
          <div class="card card-add center-align">
            <span class="glyphicon glyphicon-plus"></span>
            <div class="card-content">
              <p>Add Board</p>
            </div>
          </div>
        </button>
      </div>
      <board-card
        ng-repeat="board in boards.details"
        board="board"
        property="boards.property"
        class="col l4 m6 s12 item">
      </board-card>
    </div>
  </div>
</div>