<!--StartAddTemplate-->
<div class="container add-property add-modal">
  <h3><i class="material-icons prefix blue-text">location_on</i>Add Property</h3>
  <div class="row">  
    <div class="input-field col s12 medium-label">
        <input placeholder="555 S Main St" type="text" ng-model="property.address"/>
        <label for="location">Location</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l4 m6 s12 small-label">
        <input placeholder="New York" type="text" ng-model="property.city"/>
        <label for="city">City</label>
    </div>
    <div class="input-field col l4 m6 s12">
        <input placeholder="NY" type="text" ng-model="property.state"/>
        <label for="state">State</label>
    </div>
    <div class="input-field col l4 m6 s12 small-label">
        <input placeholder="10004" type="text" ng-model="property.zip"/>
        <label for="zip">Zip</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l4 m6 s12">
      <select name="propertyType" ng-model="property.propertyType">
        <option value="" disabled selected>Choose your option</option>
        <option value="Home">Home</option>
        <option value="Multi-Family">Multi-Family</option>
        <option value="Lot">Lot</option>
      </select>
      <label>Property Type</label>
    </div>
    <div class="input-field col l4 m6 s12">
        <input placeholder="1" type="number" ng-model="property.units"/>
        <label for="units">Units</label>
    </div>
    <div class="input-field col l4 m6 s12">
      <input type="date" class="datepicker blue">
      <label for="acquisitionDate">Date Acquired</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 m6 s12 large-label">
        <input placeholder="$100,000" type="text" ng-model="property.purchasePrice" format="currency"/>
        <label for="purchasePrice">Purchase Price</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12"> 
        <div class="file-field input-field">
          <div class="btn blue">
            <span>Photo</span>
            <input type="file" placeholder="img/XXXX.jpg" ng-model="property.teaserPhoto">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
    </div>
    <div class="input-field col s12">
        <textarea id="teaser" class="materialize-textarea" ng-model="property.teaser" length="120">
        </textarea>
        <label for="teaser">Teaser</label>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <button class="btn btn-large wave-effect blue" ng-disabled="propertyAddress==''" ng-click="addProperty()">
        Add
      </button>
    </div>
    <div class="col s6">
      <button class="btn btn-large wave-effect red" ng-click="cancelProperty()">
        Cancel
      </button>
    </div>
  </div>
</div>