<div class="container container-wide" bb-active-menu="Features" bb-active-title="Features">  
  <p>This is the <strong>Features</strong> view.</p>
  <div class="col l12 m12 s12 right-align">
    <a href="#" class="blue-text"><i class="material-icons blue-text">view_list</i></a> 
    <a href="#" class="blue-text"><i class="material-icons blue-text">view_module</i></a>          
    <a href="#" class="blue-text"><i class="material-icons blue-text">location_on</i></a>
    <a href="#" class="blue-text"><i class="material-icons blue-text">view_carousel</i></a>
    <a href="#" class="blue-text"><i class="material-icons blue-text">chat_bubble</i></a>
  </div>
</div>