<div class="container container-wide container-first form-login"  bb-active-menu="" bb-active-title="">
  <div class="row">
    <div class="blue-text">
      <ul class="tabs">
        <li class="tab col s3"><a class="active blue-text" href="#/user/login">Sign In</a></li>
        <li class="tab col s3"><a class="blue-text" href="#/user/register">Sign Up</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="login" class="col s12 center-align">
      <h1 class="center-align">Login</h1>
    </div>
  </div>
  <div class="row content-intro">
    <p><i class="material-icons blue-text">lock</i> Login to your account.</strong></p>
  </div>
  <div class="row">
    <div class="col s12 center-align">
       <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
    </div>
    <div class="hr center-align">
      <hr>
      <span class="center-align">Or</span>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="info@email.com" id="email" ng-model="user.email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" ng-model="user.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-large blue waves-effect form-submit" type="submit" name="action" ng-click="submit(user)">
          <i class="material-icons left">lock</i>
          Login
        </button>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="#/user/register">Or Create an Account</a>
        </div>
      </div>
    </form>
  </div>
</div>