<div class="container form-login">
  <h1 class="center-align">Login</h1>
  <div class="row content-intro">
    <p><i class="material-icons blue-text">lock</i> Login to your account.</strong></p>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="info@email.com" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-large blue waves-effect form-submit" type="submit" name="action">
          <i class="material-icons left">lock</i>
          Login
        </button>
      </div>
      <div class="row">
        Or Create an Account
      </div>
    </form>
  </div>
</div>