<div class="container-full marquee" bb-active-menu="" bb-active-title="">
  <img class="marquee-background" src="images/marquee_wood.jpg" alt="Marquee Wood" />
  <div class="container container-wide">
    <div class="row">
      <div class="marquee-text">
        <h1>Flip More!</h1>
        <p class="lead">Investment Collaboration Platform for Flippers, Builders and Developers.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>Sign Up!</a>
      </div>
    </div>
  </div>
</div>
<div class="container container-wide container-first" bb-active-menu="" bb-active-title="">
  <div class="row center">
    <p>What's Buildboard?</p>
    <p class="lead">The collaboration platform where real estate investors get more done.</p>
  </div>
</div>
<div class="container-full grey lighten-4">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="s12 l6">
        <img src="" alt="" title="" />
      </div>  
      <div class="s12 l6">
        <h2>Get More Done</h2>
        <p class="lead">Keep tabs on your Portfolio.</p>
        <p class="lead">Keep documents in one place.</p>
        <p class="lead">Keep everyone in the loop.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How</a>
      </div>
    </div>
  </div>
</div>
<div class="container-full">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="s12 l6">
        <h2>Save More Time.</h2>
        <p>Pull in your circle.</p>
        <p>Share floor plans.</p>
        <p>Post updates.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How to Save Time</a>
      </div>
      <div class="s12 l6">
        <img src="" alt="" title="" />
      </div>
    </div>
  </div>
</div>