<!--Marquee-->
<div class="container-full marquee" bb-active-menu="Home" bb-active-title="">
  <img class="marquee-background" ng-src="images/marquee_wood.jpg" alt="Marquee Wood" />
  <div class="marquee-text">
    <h1>Flip More!</h1>
    <p class="lead">Investment Collaboration Platform for Flippers, Builders and Developers.</p>
    <a class="btn btn-large blue btn-success" ng-click="main.auth.signup()"><i class="material-icons left">lock</i>Sign Up!</a>
  </div>
</div>
<media-content row="row" ng-repeat="row in main.rows" />