<div class="container-full marquee" bb-active-menu="" bb-active-title="">
  <img class="marquee-background" src="images/marquee_wood.jpg" alt="Marquee Wood" />
  <div class="container container-wide">
    <div class="row">
      <div class="marquee-text">
        <h1>Flip More!</h1>
        <p class="lead">Investment Collaboration Platform for Flippers, Builders and Developers.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>Sign Up!</a>
      </div>
    </div>
  </div>
</div>
<div class="container container-wide container-first" bb-active-menu="" bb-active-title="">
  <div class="row center">
    <p>What's Buildboard?</p>
    <p class="lead">The collaboration platform where real estate investors get more done.</p>
  </div>
</div>
<div class="container-full grey lighten-4">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="col s12 l6">
        <img src="images/tablet.png" alt="Buildboard Tablet Dashboard" title="" />
      </div>  
      <div class="col s12 l6 center">
        <h3>Get More Done</h3>
        <p class="lead">Keep tabs on your Portfolio.</p>
        <p class="lead">Keep documents in one place.</p>
        <p class="lead">Keep everyone in the loop.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How</a>
      </div>
    </div>
  </div>
</div>
<div class="container-full">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="col s12 l6 center">
        <h3>Save More Time.</h3>
        <p class="lead">Pull in your circle.</p>
        <p class="lead">Share floor plans.</p>
        <p class="lead">Post updates.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How to Save Time</a>
      </div>
      <div class="col s12 l6">
        <img src="images/dashboard.png" alt="Buildboard Desktop Dashboard" title="" />
      </div>
    </div>
  </div>
</div>
<div class="container-full grey lighten-4">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="col s12 l6">
        <img src="images/tablet.png" alt="Buildboard Tablet Dashboard" title="" />
      </div>
      <div class="col s12 l6 center">
        <h3>Share More Ideas.</h3>
        <p class="lead">Pull in your circle.</p>
        <p class="lead">Share floor plans.</p>
        <p class="lead">Post updates.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How</a>
      </div>
    </div>
  </div>
</div>
<div class="container-full">
  <div class="container container-wide">
    <div class="row marketing">
      <div class="col s12 l6 center">
        <h3>Grow Your Network.</h3>
        <p class="lead">Find partners.</p>
        <p class="lead">Review their track records.</p>
        <p class="lead">Find service providers.</p>
        <a class="btn btn-large blue btn-success" href="#/user/register"><i class="material-icons left">lock</i>See How</a>
      </div>
      <div class="col s12 l6">
        <img src="images/dashboard.png" alt="Buildboard Desktop Dashboard" title="" />
      </div>
    </div>
  </div>
</div>