<div class="portfolio">
  <div class="utility-bar">
    <div class="container container-wide">
      <div class="row">
        <div class="input-field col s4">
            <i class="material-icons prefix blue-text">search</i>
            <input placeholder="Search" ng-model="searchKey"/> 
        </div>
        <div class="col s4">
          <a href="#" class="blue-text"><i class="material-icons blue-text">chat_bubble</i></a>
        </div>
        <div class="col s4 right-align">
          <a href="#" class="blue-text"><i class="material-icons blue-text">view_list</i></a> 
          <a href="#" class="blue-text"><i class="material-icons blue-text">view_module</i></a>          
          <a href="#" class="blue-text"><i class="material-icons blue-text">location_on</i></a>
          <a href="#" class="blue-text"><i class="material-icons blue-text">view_carousel</i></a>
        </div>
      </div>          
    </div>
  </div>
  <div class="container container-wide container-first">
    <div class="row">
      <div class="col s12">
        <div class="row" ng-show="view=='propertiesList'">
          <div class="col s12 m6 l4">
            <button class="add-card" ng-click="startAddProperty()">
              <div class="card card-add center-align">
                <span class="glyphicon glyphicon-plus"></span>
                <div class="card-content">
                  <p>Add Property</p>
                </div>
              </div>
            </button>
          </div>
          <div class="col s12 m6 l4" ng-repeat="property in properties | filter:searchKey">
            <div class="card">
              <div class="card-image">
                <img src="/{{property.featurePhoto}}">
                <span class="card-title">{{property.title}}</span>
                <span class="card-subtitle">{{property.subtitle}}</span>
              </div>
              <div class="card-content">
                <p>{{property.teaser}}.</p>
              </div>
              <div class="card-action">
                <div class="">
                  <button class="blue-text" ng-click="startEditProperty($index)">
                    <i class="material-icons">stars</i><span>Edit</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--StartAddTemplate-->
  <div ng-show="view=='addProperty'" class="container add-modal">
    <h3>Add Property</h3>
    <div class="row">  
      <div class="input-field col s6 medium-label">
          <i class="material-icons prefix blue-text">location_on</i>
          <input placeholder="555 S Main St" type="text" ng-model="propertyAddress"/>
          <label for="location">Location</label>
      </div>
      <div class="input-field col s6 small-label">
          <i class="material-icons prefix blue-text">location_on</i>
          <input placeholder="10004" type="text" ng-model="propertyCityStateZip"/>
          <label for="zip">Zip</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input placeholder="img/XXXX.jpg" type="text" ng-model="propertyPhoto"/>
          <label for="photo">Photo</label>
      </div>
      <div class="input-field col s12">
          <textarea ng-model="propertyTeaser">
          </textarea>
          <label for="teaser">Teaser</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn btn-large wave-effect blue" ng-disabled="propertyAddress==''" ng-click="addProperty()">
          Add
        </button>
      </div>
      <div class="col s6">
        <button class="btn btn-large wave-effect red" ng-click="cancelProperty()">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!--StartEditTemplate-->
  <div ng-show="view=='editProperty'" class="container add-modal">
    <h3>Edit Property {{property.title}}</h3>
    <div class="row">  
      <div class="input-field col s6 medium-label">
          <i class="material-icons prefix blue-text">location_on</i>
          <input placeholder="555 S Main St type="text"" ng-model="propertyAddress"/>
          <label for="location">Location</label>
      </div>
      <div class="input-field col small-label s6">
          <i class="material-icons prefix blue-text">location_on</i>
          <input placeholder="10004" type="text" ng-model="propertyCityStateZip"/>
          <label for="zip">Zip</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input placeholder="img/XXXX.jpg" type="text" ng-model="propertyPhoto"/>
          <label for="photo">Photo</label>
      </div>
      <div class="input-field col s12">
          <textarea ng-model="propertyTeaser">
          </textarea>
          <label for="teaser">Teaser</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn btn-large wave-effect blue" ng-disabled="propertyAddress==''" ng-click="saveProperty()">
          Save
        </button>
      </div>
      <div class="col s6">
        <button class="btn btn-large wave-effect red" ng-click="cancelProperty()">
          Cancel
        </button>
    </div>
  </div>
</div>