<div class="portfolio" bb-active-menu="Portfolio" bb-active-title="Portfolio">
  <div class="utility-bar">
    <div class="container container-wide" ng-show="view=='propertiesList'">
      <div class="row">
        <div class="input-field col s12 m8 l8">
            <i class="material-icons prefix blue-text">search</i>
            <input type="text" ng-model="searchKey"/>
            <label for="propertySearch">Search</label>
        </div>
        <div class="col s12 m1 l1">
          <span>.</span>
        </div>
        <div class="col s12 m3 l3">
          <button class ="btn btn-large wave-effect blue" ng-click="refreshPortfolio()">Refresh</button>
          <img ng-show="isLoading()" src ="images/progressring.gif" alt="Loading" title="Loading"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-wide container-first" ng-show="view=='propertiesList'">      
    <div class="row">
      <div class="col s12">
        <div class="row center-align">
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{properties.length}}</h2>
            <p><strong>Properties</strong></p>
          </div>
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{propertiesUnits}}</h2>
            <p><strong>Units</strong></p>
          </div>
          <div class="col l4 m4 s12">
            <h2 class="blue-text">{{propertiesCosts | currency:"$":0}}</h2>
            <p><strong>Cost</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col l4 m6 s12">
            <button class="add-card" ng-click="startAddProperty()">
              <div class="card card-add center-align">
                <span class="glyphicon glyphicon-plus"></span>
                <div class="card-content">
                  <p>Add Property</p>
                </div>
              </div>
            </button>
          </div>
          <div class="col l4 m6 s12" ng-repeat="property in properties | filter:searchKey">
            <div class="card">
              <a href="#/property/{{property.nid}}">
                <div class="card-image">
                  <img src="http://api.buildboard.io/sites/default/files/{{property.field_feature_images.und[0].uri.replace('public://','')}}" width="258" height="189">
                  <span class="card-title">{{property.field_address.und[0].thoroughfare}}</span>
                  <span class="card-subtitle">{{property.field_address.und[0].locality}}, {{property.field_address.und[0].administrative_area}} {{property.field_address.und[0].postal_code}}</span>
                </div>
              </a>
              <div class="card-content">
                <!--<p class="property-units"><label>Units:</label> {{property.field_units.und.length | number}}</p>-->
                <p class="property-type" ng-show="property.field_property_type.und.length"><label>Type:</label> {{property.field_property_type.und[0].value}}</p>
                <p class="property-tag" ng-show="property.field_tags.und.length"><i class="material-icons">label</i><label>Tags</label><span ng-repeat="tags in property.field_tags.und == true"> {{tag.value}}</span></p>
                <p ng-show="property.field_purchase_price.und.length">{{property.field_purchase_price.und[0].value | currency:"$":0}}
                <p ng-show="property.field_teaser.und.length">{{property.field_teaser.und[0].value}}</p>
              </div>
              <div class="card-action">
                <button class="btn blue-text white" ng-click="startEditProperty($index)">
                  <i class="material-icons">mode_edit</i>
                  <span>Edit</span>
                </button>
                <button class="btn blue-text white" ng-click="startRemoveProperty($index)">
                  <i class="material-icons">delete</i>
                  <span>Remove</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="view=='addProperty'">
    <div ng-include="'views/addProperty.html'">
    </div>
  </div>
  <div ng-show="view=='editProperty'">
    <div ng-include="'views/editProperty.html'">
    </div>
  </div>
  <div ng-show="view=='removeProperty'">
    <div ng-include="'views/removeProperty.html'">
    </div>  
  </div> 
</div>