<div class="container container-first container-wide property">
  <div class="row" ng-cloak>
    <div class="col s12">
      <div class="photos" ng-repeat="image in property.field_feature_images.und">
        <img class="tbd" src="http://api.buildboard.io/sites/default/files/{{image.uri.replace('public://','')}}" alt="{{image.alt}}" title="{{image.title}}" width="258" height="189" />
      </div>
      <h1>{{property.field_address.und[0].thoroughfare}}</h1>
      <h2>{{property.field_address.und[0].locality}}, {{property.field_address.und[0].administrative_area}} {{property.field_address.und[0].postal_code}}</h2>
      <label>Purchase Price</label><p>{{property.field_purchase_price.und[0].value | currency:"$":0}}</p>
    </div>
  </div>
  <div class="row">
  </div>
</div>