<!--StartRemoveTemplate-->
<div class="container remove-property in-modal">
  <div class="row">
    <h3>Delete Property <em>{{removalProperty.title}}</em></h3>
  </div>
  <div class="row">
    <p>Are you sure you want to delete <em>{{removalProperty.title}}</em>?</p>
  </div>
  <div class="row">
    <div class="col s6">
        <button class="btn btn-large wave-effect blue" ng-click="cancelProperty()">
          No
        </button>
        <button class="btn btn-large wave-effect red" ng-click="removeProperty()">
          Yes
        </button>
    </div>
  </div>
</div>